
body {
    background-color: turquoise;
    font-family: Arial;
    font-size: 20px;
    color: white;
    text-align: center;
    font-weight: lighter;
    
}

h1 {font-family: Arial;
    background-color: turquoise;
    font-size: 75px;
    text-align: center ;
    color: white;
    
}

.hello { background-color: turquoise;
    font-size: 20px;
    padding: 10px;
    border: 10px solid white;
    margin: 10px;
    width: 160px;
    display: inline-block;
}

.wrapper { width: 100%;
            margin: 0 auto;
            font-size: 10px;
            position: relative;
            height: 50px;
            text-align: center;
}

mark { display: block;
    background-color: white;
    padding: 10px;
    opacity: 0.8;
}

.bug { background-color: white;
        color: pink;
        padding: 10px;
        border-radius: 300px;
        font-size: 90px;
        line-height: 90px;
        width: 100px;
        height: 100px;
        position: relative;
        border: 5px solid pink;
        position: relative;
        margin: auto;
}


p{color: grey
    
}

.special {color: white;
}

.last {color: grey;
        background-color: white;
}

.box { width: 0;
height: 0;
border-top: 200px solid pink;
border-right: 200px solid transparent;
border-left: 200px solid transparent;
margin: auto;
z-index: 100;
}

.box2 { top: 50px
    left: 90px;
    width: 0;
    position: absolute;
height: 0;
border-top: 200px solid pink;
border-right: 100px solid transparent;
border-left: 100px solid transparent;
margin: auto;
z-index: 200;
}

/* This is a comment*/

