
body {
    background-color: turquoise;
    font-family: Arial;
    font-size: 20px;
    color: white;
    text-align: center;
    font-weight: lighter;
    
}

h1 {font-family: Arial;
    background-color: turquoise;
    font-size: 75px;
    text-align: center ;
    color: white;
}

.hello { background-color: turquoise;
    font-size: 20px;
    padding: 10px;
    border: 10px solid white;
    margin: 40px;
    width: 100px;
    float: left;
}

.wrapper { width: 700px;
            margin: auto;
}

mark { display: block;
    background-color: white;
    padding: 10px;
    opacity: 0.8;
}


p{color: grey
    
}

.special {color: white;
}

.last {color: grey;
        background-color: white;
}

/* This is a comment*/

