body { font: Arial;
    text-align: center;
    background-color: turquoise;

}

h1 { font-family: Helvetica;
    text-align: center;
    margin-top: 50px;
    color: white;
    background-color: turquoise;
}


a { font-family: Helvetica;
    margin: auto;
    color: white;
    width: 100px; 
}

a:visited { 
    color: pink
}

a:hover {
    color: orange;
}

a:active {
    color: white;
}