body {
background-color: #CCCCFF;
width: auto;
position: auto;
}

.toggle {
	width: 100px;
	height:100px;
	border-radius: 50px;
	font-size: 35px ;
	background-color: white;
	box-shadow: 10px 10px 10px 0px solid, pink;
	font-family: helvetica;
	margin-left: 47%;
	color: #CCCCFF;
	position: fixed;

}

.images {
	width: 200px;
	margin: auto;
	float: left; 
}

.sushi { 
	width: 200px;
	float: right;
	margin: auto;
	
}