body {
    font-family: "Arial", sans serif;
    background-color: white;
}

a {color: turquoise;
    text-decoration: underline;
}


a:visited {
    color: orange;
}

a:hover {
    color: pink;
}

a:active {
    color: lime;
}

ul {
    list-style: none;
    margin: 0;
    padding:0;
}

li {margin: 0;
    padding: 0;
}