body {
background-color: white;
}

.start {
	margin: auto;
	position: relative;
	background-color: orange;
	border-radius: 25px;
	font-family: helvetica;
	color: white;
	font-size: 20px;
	border: none;
}

.so {
	margin:auto ;
	position: relative;
	background-color: orange;
	border-radius: 25px;
	font-family: helvetica;
	font-size: 20px;
	color: white;
	border: none;
}

.stage {
	position:fixed;
	top: 0;
	bottom:0;
	left: 200px;
	right: 0;
	background-color: white;
	overflow-y: auto;
	max-height: 100%;
	vertical-align: bottom;
	transform:rotate(180deg);
	padding-bottom: 50px;
	padding-top: 50px;
}

.share {
	margin: auto;
	position: relative;
	background-color: orange;
	border-radius: 25px;
	font-family: helvetica;
	font-size: 20px;
	color: white;
	border: none;
}

.sidebar {
	background-color: pink;
	width: 200px;
	margin: 0px;
	height: 100%;
	position: fixed;
	top:0;
	left:0;
	overflow-y: scroll;
	padding-top: 30px;
	padding-bottom: 50px;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}


.bread {
	width: 150px ;
	height: 10px;
	color: #E0A366;
	border: solid #E0A366;
	border-width: 10px;
	position: left scroll;
	margin: auto;
	background-color: #E0A366;
	cursor: hand;

}

.bread2 {
	width: 150px;
	height: 10px;
	color: white;
	border:  solid #E0A384;
	border-width: 10px;
	border-radius: 5px;
	position: auto;
	margin: auto;
	background-color: #F5E0CC;
	cursor: hand; 
}

.bread3 {
     height:65px;
     width: 170px;
     border-radius: 90px 90px 0 0;
     -moz-border-radius: 90px 90px 0 0;
     -webkit-border-radius: 90px 90px 0 0;
     background: #DB944D;
     position: auto;
     margin: auto;
     cursor: hand;

}

.bread4 {
     height: 35px;
     width: 170px;
     border-radius: 0 0 90px 90px;
     -moz-border-radius: 0 0  90px 90px ;
     -webkit-border-radius: 0 0 90px 90px ;
     background: #DB944D;
     position: auto;
     margin: auto;
     cursor: hand;
}

.bread5 {
	width: 150px;
	height: 10px;
	color: white;
	border:  solid #AD855C;
	border-radius: 15px;
	border-width: 10px;
	position: auto;
	margin: auto;
	background-color: #94704D;
	cursor: hand;
}

.bread6 {
     height:55px;
     width: 140px;
     border-radius: 90px 90px 0 0;
     -moz-border-radius: 90px 90px 0 0;
     -webkit-border-radius: 90px 90px 0 0;
     background: #F5E0CC;
     border-width: 15px;
     border: solid  #E6B280;
     position: center;
     margin: auto;
     cursor: hand;
}

.bread7 {
     height:30px;
     width: 140px;
     border-radius: 90px 90px 0 0;
     -moz-border-radius: 0 0 90px 90px;
     -webkit-border-radius: 0 0 90px 90px;
     background: #F5E0CC;
     border-width: 15px;
     border: solid  #E6B280;
     position: center;
     margin: auto;
     cursor: hand;
}

.greentea {
     height:55px;
     width: 140px;
     border-radius: 90px 90px 0 0;
     -moz-border-radius: 90px 90px 0 0;
     -webkit-border-radius: 90px 90px 0 0;
     background: #98e600;
     border-width: 15px;
     border: solid  #b35900 2px;
     position: center;
     margin: auto;
     cursor: hand;
}

.greentea2 {
     height:30px;
     width: 140px;
     border-radius: 90px 90px 0 0;
     -moz-border-radius: 0 0 90px 90px;
     -webkit-border-radius: 0 0 90px 90px;
     background: #98e600;
     border-width: 15px;
     border: solid  #b35900 2px;
     position: center;
     margin: auto;
     cursor: hand;
}

.box { 
    height: 20px;
    width: 160px;
    background-color: #70FF70;
    margin: auto;
    border-radius: 15px;
    cursor: hand;
}

.box1 { 
    height: 10px;
    width: 160px;
    background-color: yellow;
    margin: auto;
    border-radius: 25px;
    border-width: 30px;
    border: dotted yellow;
    cursor: hand;
}

.box2 { 
    height: 5px;
    width: 160px;
    background-color: red;
    margin: auto;
    border-radius: 5px;
    cursor: hand;
}

.box3 { 
	width: 140px;
	border: dashed #33CC33;
	border-width: 4.5px;
	margin: auto;
	cursor: hand;
}

.box4 {
	height: 19px;
	width: 140px;
	margin: auto;
	border: solid #663300;
	background-color:#663300;
	border-radius: 15px;
	cursor: hand;
}

.box5 {
	height: 15px;
	width: 150px;
	border: dashed transparent;
	background-color: orange;
	margin: auto;
	cursor: hand;
}

.box24 {
	height: 15px;
	width: 150px;
	border: dashed transparent;
	background-color: #33cc33;
	margin: auto;
	cursor: hand;
}

.box25 {
		height: 15px;
	width: 150px;
	border: dashed transparent;
	background-color: #ff9999;
	margin: auto;
	cursor: hand;
}

.box26 {
		height: 15px;
	width: 150px;
	border: dashed transparent;
	background-color: #ff6600;
	margin: auto;
	cursor: hand;
}

.box6 { 
	height: 15px;
	width: 150px;
	background-color: #FFCC66;
	margin: auto;
	cursor: hand;
}

.box7 {
	height: 20px;
	margin: auto;
	background-color: #993300;
	width: 150px;
	border-radius: 10px;
	cursor: hand;
}

.box8 { 
	height: 20px;
	width: 140px;
	margin: auto;
	background-color: #FFFFCC;
	border: solid #CC0000;
	border-radius: 25px;
	border-width: 4px;
	cursor: hand;
}

.box9 {
	height: 30px;
	width: 120px;
	background-color: #FFFFE6;
	border: solid #CCFFFF;
	border-radius: 40px;
	border-width: 7px;
	margin: auto;
	cursor: hand;
}

.box10 {
	  height:25px;
     width: 140px;
     border-radius: 90px 90px 0 0;
     -moz-border-radius: 90px 90px 0 0;
     -webkit-border-radius: 90px 90px 0 0;
     background: #85AD33;
     border-width: 15px;
     border: solid  #005C00;
     position: center;
     margin: auto;
     cursor: hand;
}

.box11 {
	width: 120px;
	border: dashed black;
	border-width: 10px;
	border-radius: 20px;
	margin: auto;
	cursor: hand;
}

.box12 {
	height: 20px;
	width: 150px;
	margin: auto;
	background-color: orange;
	border: solid red;
	border-width: 5px;
	border-radius: 10px;
	cursor: hand;
}

.topbun {
	 height:65px;
     width: 170px;
     border-radius: 90px 90px 0 0;
     -moz-border-radius: 90px 90px 0 0;
     -webkit-border-radius: 90px 90px 0 0;
     background: #99ccff;
     position: auto;
     margin: auto;
     cursor: hand;
}

.bottombun {
	     height: 35px;
     width: 170px;
     border-radius: 0 0 90px 90px;
     -moz-border-radius: 0 0  90px 90px ;
     -webkit-border-radius: 0 0 90px 90px ;
     background: #99ccff;
     position: auto;
     margin: auto;
     cursor: hand;
}

.topbun2 {
	 height:65px;
     width: 170px;
     border-radius: 90px 90px 0 0;
     -moz-border-radius: 90px 90px 0 0;
     -webkit-border-radius: 90px 90px 0 0;
     background: #e5ccff;
     position: auto;
     margin: auto;
     cursor: hand;
}

.bottombun2 {
	     height: 35px;
     width: 170px;
     border-radius: 0 0 90px 90px;
     -moz-border-radius: 0 0  90px 90px ;
     -webkit-border-radius: 0 0 90px 90px ;
     background: #e5ccff;
     position: auto;
     margin: auto;
     cursor: hand;
}

.triangle1 {
	width: 0;
	height: 0;
	border-top: 20px solid green;
	border-right: 150px solid transparent;
	margin: auto;
	-webkit-transform:rotate(-3deg);
	cursor: hand;
}

.triangle2 {
	width: 0;
	height: 0;
	border-top: 20px solid purple;
	border-right: 150px solid transparent;
	margin: auto;
	border-radius: .5px;
	-webkit-transform:rotate(-3deg);
	cursor: hand;
}

.box13 {
	height: 20px;
	width: 150px;
	margin: auto;
	background-color: orange;
	border: 5px ;
	border-width: 5px;
	border-radius: 10px;
	cursor: hand;
}

.box14 {
	height: 20px;
	width:150px;
	margin: auto;
	border-radius: 15px;
	background-color: #ffffcc;
	cursor: hand;
}

.box15 {
	height: 20px;
	width:150px;
	margin: auto;
	border-radius: 15px;
	background-color: red;
	cursor: hand;
}

.box16 {
	height: 20px;
	width:150px;
	margin: auto;
	border-radius: 5px;
	background-color: #ff8080;
	cursor: hand;
}

.box17 {
	height: 20px;
	width:150px;
	margin: auto;
	border-radius: 5px;
	background-color: #ff8433;
	cursor: hand;
}

.box18 {
	height: 20px;
	width:150px;
	margin: auto;
	border-radius: 5px;
	border: 2px solid #ccffcc;
	background-color: #ffccff;
	cursor: hand;
}

.box19 {
	height: 30px;
	width: 120px;
	background-color: #FFFFE6;
	border: solid #ff9833;
	border-radius: 40px;
	border-width: 7px;
	margin: auto;
	cursor: hand;
}

.box20 {
	height: 25px;
	width: 150px;
	background-color: black;
	border-radius: 30px;
	border-width: 7px;
	margin: auto;
	cursor: hand;
}

.box21 {
	height: 15px;
	width: 150px;
	background-color: #993300;
	border-radius: 5px;
	border-width: 7px;
	border: #cc6600 solid ;
	margin: auto;
	cursor: hand;
}

.box22 {
	height: 15px;
	width: 150px;
	background-color: #ffe5e5;
	border-radius: 5px;
	border-width: 9px;
	border: #b3efff solid 6px;
	margin: auto;
	cursor: hand;
}

.box23 {
	height: 15px;
	width: 150px;
	background-color: #ccffff;
	border-radius: 15px;
	border-width: 9px;
	border: #e5e5ff solid 6px;
	margin: auto;
	cursor: hand;
}

.olive {
	height: 30px;
	background-color: green;
	width: 40px;
	margin: auto;
	border-radius:15px;
	border: solid red;
	transform: rotate(25deg);
	cursor: hand;
}


.button2 {
	width: 100px;
	height:100px;
	border-radius: 50px;
	background-color: orange;
	margin: 0 auto;
	color: white;
	border: none;
	z-index:1;
	position: absolute;
	cursor: hand;
}

.button1 {
	width: 80px;
	height: 50px;
	border-radius: 25px;
	margin-left: 80%;
	margin-top: 420px;
	background-color: orange;
	font-size: 20px;
	z-index:1;
	position: relative;
	top: 100px;
	left: 100px;
	font-family: tahoma;
	text-align: center;
	vertical-align: center;
	padding: 10px;
    color: white;
    cursor: hand;
    text-decoration: none;
    visited: none;
}

a:visited { 
    color: orange;
}


