body {
background-color: #CCCCFF;
width: 800px;
height: 600px;
margin: 0px;
}

.toggle {
	width: 60;
	height:60;
	border-radius: 50px;
	font-size: 15px ;
	background-color: white;
	font-family: helvetica;
	margin-left: 50%;
	margin-top: 0%;
	color: #CCCCFF;
	position: fixed;

}

.haiku {
	width: 200px;
	height: 200px;
	margin: 50%;
	position: fixed;
	z-index: 100px;

}

.background { 
	width: 700px;
	height: 450px;
	margin: 0px;
	background-size: contain;
}